<div class="flex justify-center ml-4 mr-4 mb-4 md:mb-8">
    <a href="<%= client.url %>"
       target="_blank"
       rel="noopener"
       title="<%= client.name %>">
        <img src="/public/img/<%= client.imgUrl %>"
             loading="lazy"
             alt="<%= client.name %> Logo"
             width="<%= config.featuredClients.imgWidth %>"
             height="<%= Math.ceil(config.featuredClients.imgWidth * 720 / 1280) %>"
             class="w-client-image-mobile md:w-client-image-desk" />
    </a>
</div>