<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
<link rel="manifest" href="/public/favicon/site.webmanifest">
<link rel="mask-icon" href="/public/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#081527">
<meta name="theme-color" content="#081527">

<title><%= config.head.title %></title>
<meta name="title" content="<%= config.head.title %>">
<meta name="description" content="<%= config.head.description %>" />
<% if (ENV === 'production') { %>
<meta name="google-site-verification" content="pY3llSJBwVVQ0WC1raGT897ShPCDaIfiohoqCFVRzi8" />
<% }; %>
<meta property="og:type" content="website">
<meta property="og:url" content="<%= config.head.social.ogUrl %>">
<meta property="og:title" content="<%= config.head.social.ogTitle %>">
<meta property="og:description" content="<%= config.head.social.ogDescription %>">
<meta property="og:image" content="<%= config.head.social.ogImage %>">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="<%= config.head.social.ogUrl %>">
<meta property="twitter:title" content="<%= config.head.social.ogTitle %>">
<meta property="twitter:description" content="<%= config.head.social.ogDescription %>">
<meta property="twitter:image" content="<%= config.head.social.ogImage %>">

<link rel="canonical" href="<%= config.hostUrl %>">
<link rel="preload" href="/public/fonts/gnuolane_rg.ttf" as="font" crossorigin="anonymous" />
<link rel="preload" href="/public/fonts/Lato-Regular.ttf" as="font" crossorigin="anonymous" />
<link rel="preload" href="/public/fonts/Montserrat-Black.ttf" as="font" crossorigin="anonymous" />

<link rel="preconnect" href="<%= config.buildSettings.production.backendUrl %>" />
<link rel="preconnect" href="https://www.google.com" />
<link rel="preconnect" href="https://i.ytimg.com" />
<link rel="preconnect" href="https://yt3.ggpht.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
