<header class="mx-auto px-0 md:px-10 lg:px-24 xl:px-36 pt-10" style="<%= bgImg %>">
    <div class="flex flex-row">
        <div class="flex flex-col flex-grow-0 ml-5 sm:ml-10">
            <a href="/" class="header-logo">
                <img src="/public/img/logo-tight.png" alt="CaptureBros Team Logo" width="250" height="158"/>
            </a>
            <a href="http://overdreamers.com/" target="_blank" rel="noopener" class="division-block flex flex-col items-center w-3/4 mt-2 -ml-3 hover:text-capture-red font-logo uppercase">
                <span class="ml-3">Division of</span> <img src="/public/img/overdreamers-text-logo.png" alt="Overdreamers Studios Logo" class="ml-2" width="140" height="31" />
            </a>
        </div>

        <ul class="hidden lg:flex flex-grow list-none justify-end items-center font-logo text-2xl 2xl:text-3xl">
            <% headerItems.forEach((item) => { %>
                <li class="mr-7 hover:text-capture-red"><a href="<%= item.url %>"><%= item.text %></a></li>
            <% }); %>
        </ul>

        <div class="flex flex-grow justify-end items-center mr-10 lg:hidden" onclick="toggleMobileNavbar()">
            <div class="burger burger-slide">
                <div class="burger-lines"></div>
            </div>
        </div>
    </div>

    <div class="pb-20">
        <div class="flex flex-col justify-center uppercase font-heading text-6xl text-center"
             style="height: 525px;">
            <div class="-mt-10"><%= title %></div>
            <% if (subtitle) { %>
            <div><%= subtitle %></div>
            <% }; %>
        </div>
    </div>
</header>

<div id="mobile-navbar" class="mobile-navbar fixed top-0 right-0 h-full w-full lg:hidden">
    <div class="mobile-navbar-bg fixed top-0 right-0 h-full w-full flex items-center bg-black bg-opacity-50 z-10" onclick="toggleMobileNavbar()">
        <div class="mobile-menu-close">
            <i class="gg-close text-white"></i>
        </div>
    </div>
    <div class="mobile-navbar-menu fixed top-0 right-0 h-full w-64 md:w-1/2 flex items-center bg-white shadow-2xl z-20">
        <ul class="flex flex-col list-none font-logo text-2xl md:text-3xl lg:tracking-wide ml-10">
            <% headerItems.forEach((item) => { %>
                <li class="mb-3 hover:text-capture-red"><a href="<%= item.url %>" onclick="toggleMobileNavbar()"><%= item.text %></a></li>
            <% }); %>
        </ul>
    </div>
</div>
