@font-face {
    font-family: Mastodon;
    font-weight: 400;
    src: url(/src/client/fonts/Mastodon.otf) format("otf");
}

@font-face {
    font-family: "Libel Suit Rg";
    font-weight: normal;
    font-style: normal;
    src: url(/src/client/fonts/libel-suit.ttf) format("truetype");
}

@font-face {
    font-family: "Gnuolane Rg";
    font-weight: normal;
    font-style: normal;
    src: url(/src/client/fonts/gnuolane_rg.ttf) format("truetype");
}
