@import "../../../node_modules/css.gg/icons/scss/close.scss";
@import "../../../node_modules/css.gg/icons/scss/copyright.scss";
@import "../../../node_modules/css.gg/icons/scss/eye.scss";
@import "../../../node_modules/css.gg/icons/scss/mail.scss";
@import "../../../node_modules/css.gg/icons/scss/pin.scss";
@import "../../../node_modules/css.gg/icons/scss/comment.scss";
@import "../../../node_modules/css.gg/icons/scss/close.scss";
@import "../../../node_modules/css.gg/icons/scss/spinner.scss";
@import "../../../node_modules/css.gg/icons/scss/check-o.scss";
@import "../../../node_modules/css.gg/icons/scss/close-o.scss";
@import "../../../node_modules/css.gg/icons/scss/games.scss";
@import "../../../node_modules/css.gg/icons/scss/camera.scss";
@import "../../../node_modules/css.gg/icons/scss/edit-markup.scss";
@import "../../../node_modules/css.gg/icons/scss/awards.scss";

.gg-copyright,
.gg-mail,
.gg-pin,
.gg-comment,
.gg-spinner,
.gg-close,
.gg-check-o,
.gg-close-o,
.gg-games,
.gg-camera,
.gg-edit-markup,
.gg-awards,
.gg-eye {
    display: inline-block;
}

#mobile-navbar .gg-close {
    --ggs: 4;
}

.gg-copyright {
    --ggs: 1;
}

#why-us {
    .gg-games,
    .gg-camera {
        --ggs: 5;
    }

    .gg-edit-markup {
        --ggs: 4.5;
    }
}