@import "../../../node_modules/css.gg/icons/scss/close.scss";
@import "../../../node_modules/css.gg/icons/scss/copyright.scss";
@import "../../../node_modules/css.gg/icons/scss/eye.scss";
@import "../../../node_modules/css.gg/icons/scss/mail.scss";
@import "../../../node_modules/css.gg/icons/scss/pin.scss";

.gg-close {
    --ggs: 4;
}

.gg-copyright {
    display: inline-block;
    --ggs: 1;
}

.gg-eye {
    display: inline-block;
}

.gg-mail {
    display: inline-block;
}

.gg-pin {
    display: inline-block;
}