<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="/dist/public/favicon/apple-touch-icon.png">
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="/dist/public/favicon/favicon-32x32.png">
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="/dist/public/favicon/favicon-16x16.png">
    <link rel="manifest"
          href="/dist/public/favicon/site.webmanifest">
    <link rel="mask-icon"
          href="/dist/public/favicon/safari-pinned-tab.svg"
          color="#5bbad5">
    <meta name="msapplication-TileColor"
          content="#da532c">
    <meta name="theme-color"
          content="#ffffff">
    <title>
        <%= config.head.title %>
    </title>
    <meta name="description"
          content="" />
    <meta name="keywords"
          content="" />
    <meta name="author"
          content="" />
</head>

<%
function dynamicArgs (args, obj) {
      const newArgs = Array.prototype.slice.call(args);
      newArgs[0] = Object.assign(obj, newArgs[0]);
      return newArgs;
};
%>

    <body class="bg-background preload">
        @require('../parts/header.html')

        <div class="mx-auto mb-20">
            <div class="flex flex-col justify-center uppercase font-heading text-6xl text-center"
                 style="height: 500px;">
                <div>Game Footage.</div>
                <div>It's our job</div>
                <div style="display: none;">Leave it to us</div>
            </div>
        </div>

        <div id="what-we-do"
             class="mx-auto py-20 bg-white">
            <div class="flex flex-col">
                <div class="mb-8 uppercase font-heading text-4xl text-center">
                    What we do
                </div>
                
                @require('../parts/what-we-do.html')
            </div>
        </div>

        <div id="projects"
             class="mx-auto pt-20">
            <div class="flex flex-col">
                <div class="mb-8 uppercase font-heading text-4xl text-center">
                    Featured work
                </div>
                <div class="flex justify-center">
                    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
                        <% config.featuredVideos.videos.forEach((video) => { %>
                            <%= require('../parts/featured-video.html').apply(null, dynamicArgs(arguments, {video, config})) %>
                        <% }); %>
                    </div>
                </div>
                <div class="my-14 text-center font-text text-xl">
                    Want our help? Let's <a class="text-capture-red hover:text-opacity-80 font-semibold"
                       href="mailto:<%= config.general.contactEmail %>">talk</a>
                    or leave us a message <a class="text-capture-red hover:text-opacity-80 font-semibold"
                       href="#contact">below</a>.
                </div>
            </div>
        </div>

        <div id="clients"
             class="mx-auto py-20 bg-white">
            <div class="flex flex-col">
                <div class="mb-10 font-heading text-4xl uppercase text-center">
                    Our Clients
                </div>
                <div class="flex justify-center">
                    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 2xl:grid-cols-4">
                        <% config.featuredClients.clients.forEach((client) => { %>
                            <%= require('../parts/featured-client.html').apply(null, dynamicArgs(arguments, {client, config})) %>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>

        <div id="contact"
             class="mx-auto py-20 bg-white">
            <div class="flex flex-col">
                <div class="mb-10 font-heading text-4xl uppercase text-center">
                    Leave us a message
                </div>
                <div class="flex justify-center">
                    @require('../parts/contact.html')
                </div>
            </div>
        </div>

        @require('../parts/footer.html')
    </body>
</html>