<!DOCTYPE html>
<html lang="en">

<head>
    @require('../parts/head.html')
</head>

<%
function dynamicArgs (args, obj) {
      const newArgs = Array.prototype.slice.call(args);
      newArgs[0] = Object.assign(obj, newArgs[0]);
      return newArgs;
};
%>

    <body class="bg-background preload">
        @require('../parts/header.html')

        <div id="what-we-do"
             class="mx-auto py-20 bg-white">
            <div class="flex flex-col">
                <div class="mb-8 uppercase font-heading text-4xl text-center">
                    What we do
                </div>
                
                @require('../parts/what-we-do.html')
            </div>
        </div>

        <div id="who-we-are"
             class="mx-auto py-20 bg-white hidden">
            <div class="flex flex-col">
                <div class="mb-8 uppercase font-heading text-4xl text-center">
                    Who we are
                </div>
                
                @require('../parts/who-we-are.html')
            </div>
        </div>


        <div id="projects"
             class="mx-auto pt-20 bg-capture-blue">
            <div class="flex flex-col">
                <div class="mb-8 uppercase font-heading text-4xl text-white text-center">
                    Latest works
                </div>
                <div class="flex justify-center">
                    <div class="grid grid-cols-1 gap-8 xl:grid-cols-2">
                        <% config.featuredVideos.videos.forEach((video) => { %>
                            <%= require('../parts/featured-video.html').apply(null, dynamicArgs(arguments, {video, config})) %>
                        <% }); %>
                    </div>
                </div>
                <div class="my-14 text-center font-text text-white text-xl">
                    Want our help? Let's <a class="text-capture-red-light hover:text-opacity-80 font-semibold"
                       href="mailto:<%= config.general.contactEmail %>">talk</a>
                    or leave us a message <a class="text-capture-red-light hover:text-opacity-80 font-semibold"
                       href="#contact">below</a>.
                </div>
            </div>
        </div>

        <div id="clients"
             class="mx-auto pt-20 bg-white">
            <div class="flex flex-col">
                <div class="mb-4 font-heading text-4xl uppercase text-center">
                    Our Clients
                </div>
                <div class="container mx-auto xl:px-40">
                    <div class="flex flex-row flex-wrap justify-center xl:mx-20">
                        <% config.featuredClients.clients.forEach((client) => { %>
                            <%= require('../parts/featured-client.html').apply(null, dynamicArgs(arguments, {client, config})) %>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>

        <div id="teams" class="mx-auto py-20 bg-white">
            <div class="flex flex-col">
                <div class="mb-10 font-heading text-4xl uppercase text-center">
                    Part of something bigger
                </div>

                @require('../parts/parent-company.html')
            </div>
        </div>

        <div class="mx-auto w-3/4 md:w-2/5 border-t-4 border-capture-blue"></div>

        <div id="contact"
             class="mx-auto py-20 bg-white">
            <div class="flex flex-col">
                <div class="mb-10 font-heading text-4xl uppercase text-center">
                    Leave us a message
                </div>
                <div class="flex justify-center">
                    @require('../parts/contact.html')
                </div>
            </div>
        </div>

        @require('../parts/footer.html')
    </body>
</html>